<%-- 
Name: _createorupdate template
Author: huyibin@outlook.com
Description: 
--%>
<%@ CodeTemplate Language="C#" TargetLanguage="Text" Description="" %>
<%@ XmlProperty Name="Entity" Schema="../../entity.xsd" Optional="False" Category="Data" Description="" %>
<%@ Assembly Name="System.Design" %>
<%@ Assembly Name="System.Data" %>

<%@ Import Namespace="System.Data" %>
<%@ Import Namespace="System.Text" %>


@model  Dragonfly.<%=Entity.PresentationNS%>.Models.<%=Entity.CollectionName%>.<%=Entity.Name%>FormModel

@{
    ViewBag.Title = "新建";
}

<div class="">
    <h2>新建</h2>
    @using (Html.BeginForm("create", "<%=Entity.Name%>", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.Partial("_CreateOrUpdate", Model)

        <div class="col-sm-offset-2 col-sm-5">
            <input type="submit" name="create" class="btn btn-primary" value="&nbsp;&nbsp;保存&nbsp;&nbsp;" />
        </div>
    }
</div>